/* Ava Sanchez */

/* Apply elements to all */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: #ffffff;
    color: #333;
  }
  
  /* Header */
  header {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    border-bottom: 2px solid #ccc;
  }
  
  #logo {
    margin-right: 15px;
    position: absolute 0;
  }
  
  header h1 {
    font-size: 2rem;
    color: #2a2a2a;
  }
  
  /* Navigation */
  nav {
    background-color: #2d772d;
  }
  
  nav ul {
    display: flex;
    justify-content: left;
    list-style: none;
    padding: 10px 0;
  }
  
  nav li {
    margin: 0 15px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  /* Layout */
  #content-wrapper {
    display: flex;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
    gap: 20px;
  }
  
  /* Sidebar */
  aside {
    width: 25%;
    background: #f2f2f2;
    padding: 15px;
    border: 1px solid #ccc;
  }
  
  aside h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  aside section {
    margin-bottom: 20px;
  }
  
  aside h3 {
    background-color: #2d772d;
    color: white;
    padding: 5px;
    margin-bottom: 5px;
  }
  
  aside a {
    display: block;
    padding: 5px;
    color: #2d772d;
    background: white;
    text-decoration: none;
    border: 1px solid #ccc;
    margin-top: 5px;
  }
  
  /* Main Content */
  main {
    width: 75%;
  }
  
  article img {
    float: left;
    margin-right: 15px;
    width: 300px;
    height: auto;
  }
  
  article h2 {
    color: #2a2a2a;
    margin-bottom: 10px;
  }
  
  article p {
    margin-bottom: 10px;
  }
  
  /* Projects Section */
  main > section {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    gap: 20px;
  }
  
  main > section > div {
    flex: 1;
    background: rgb(235,255,233);
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
  }
  
  main > section h2 {
    background-color: #2d772d;
    color: white;
    padding: 5px;
    margin: 0;
    margin-bottom: 10px;
    border-radius: 15px;
  }
  
  main > section img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  main > section p {
    font-weight: bold;
    color: #2d772d;
  }
  
  